In [3]:
import pandas as pd
df_titanic = pd.read_csv("train.csv")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# 1- KAZADA ÖLENLERİN YAŞ ORTALAMASINI BULUNUZ

In [11]:
print(f'Kazada ölenlerin yaş ortalaması: {df_titanic[df_titanic['Survived']==0]['Age'].mean():.2f}')

Kazada ölenlerin yaş ortalaması: 30.63

In [ ]:
# 2- KAZADA ÖLENLERİN BİLET FİYATLARININ ORTALAMASINI VE MEDYANINI BULUNUZ

In [10]:
deaths_mean = df_titanic[df_titanic['Survived']==0]['Fare'].mean()
deaths_median = df_titanic[df_titanic['Survived']==0]['Fare'].median()

print(f'Bilet fiyatının ortalaması:{ deaths_mean:.2f}, Medyanı: {deaths_median:.2f}')

Bilet fiyatının ortalaması:22.12, Medyanı: 10.50

In [ ]:
# 3- ÖLEN ERKEKLERİN YAŞ ORTALAMASI

In [12]:
men_age_avg = df_titanic[(df_titanic["Survived"] == 0) & (df_titanic["Sex"] == "male")]["Age"].mean()
print(f'Kazada ölen erkeklerin yaş ortalaması: {men_age_avg:.2f}')

Kazada ölen erkeklerin yaş ortalaması: 31.62

In [ ]:
# 4- ÖLEN KADINLARIN YAŞ ORTALAMASI

In [13]:
women_age_avg = df_titanic[(df_titanic["Survived"] == 0) & (df_titanic["Sex"] == "female")]["Age"].mean()
print(f'Kazada ölen erkeklerin yaş ortalaması: {women_age_avg:.2f}')

Kazada ölen erkeklerin yaş ortalaması: 25.05

In [ ]:
# 5- KURTULANLARIN YAŞ ORTALAMASI

In [15]:
survived_avg = df_titanic[df_titanic["Survived"] == 1]["Age"].mean()
print(f'Kazadan kurtulanların yaş ortalaması: {survived_avg:.2f}')

Kazadan kurtulanların yaş ortalaması: 28.34

In [ ]:
# 6- KURTULANLARIN BİLET FİYATI ORTALAMASI

In [16]:
fare_survived_avg = df_titanic[df_titanic["Survived"] == 1]["Fare"].mean()
print(f"Kurtulanların bilet fiyatı ortalaması: {fare_survived_avg:.2f}")

Kurtulanların bilet fiyatı ortalaması: 48.40

In [ ]:
# 7- KURTULAN KİŞİ SAYISI

In [17]:
survived_count = len(df_titanic[df_titanic["Survived"] == 1])
print(f"Kazadan kurtulan toplam kişi sayısı: {survived_count}")

Kazadan kurtulan toplam kişi sayısı: 342

In [ ]:
# 8- 10 YAŞINDAN KÜÇÜKLERİN BİLET FİYATI MEDYANI

In [18]:
under_ten_years_fare_median = df_titanic[df_titanic["Age"] < 10]["Fare"].median()
print(f"10 yaşından küçüklerin bilet fiyatı medyanı: {under_ten_years_fare_median:.2f}")

10 yaşından küçüklerin bilet fiyatı medyanı: 27.00

In [ ]:
# 9- HER SINIFIN BİLET FİYATI ORTALAMA VE MEDYANI

In [19]:
pclass_fare_stats = df_titanic.groupby("Pclass")["Fare"].agg(["mean", "median"])
print("1, 2, 3. sınıf bilet fiyatı ortalama ve medyanları:\n", pclass_fare_stats.round(2))

1, 2, 3. sınıf bilet fiyatı ortalama ve medyanları:
          mean  median
Pclass
1       84.15   60.29
2       20.66   14.25
3       13.68    8.05

In [ ]:
# 10- CİNSİYETE GÖRE ÖLÜM ORANI KARŞILAŞTIRMASI

In [20]:
men = df_titanic[df_titanic["Sex"] == "male"]
women = df_titanic[df_titanic["Sex"] == "female"]

dead_men_ratio = len(men[men["Survived"] == 0]) / len(men)
dead_women_ratio = len(women[women["Survived"] == 0]) / len(women)

print(f"Kazada ölen erkeklerin oranı: {dead_men_ratio:.2%}")
print(f"Kazada ölen kadınların oranı: {dead_women_ratio:.2%}")

Kazada ölen erkeklerin oranı: 81.11%
Kazada ölen kadınların oranı: 25.80%